<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleExecutable</key>
  <string>macfw-fw1814</string>
  <key>CFBundleIdentifier</key>
  <string>com.mbprado.macfw.fw1814.hal</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>macfw FW1814 HAL</string>
  <key>CFBundlePackageType</key>
  <string>BNDL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.01.000</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>CFPlugInDynamicRegistration</key>
  <false/>
  <key>CFPlugInFactories</key>
  <dict>
    <key>80C689F8-E426-4C1F-8717-782F734B8F72</key>
    <string>FW1814HALFactory</string>
  </dict>
  <key>CFPlugInTypes</key>
  <dict>
    <key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key>
    <array>
      <string>80C689F8-E426-4C1F-8717-782F734B8F72</string>
    </array>
  </dict>
</dict>
</plist>
